* {
    outline: 1px solid --red;
}

:root {
    --mc: #d1392b;
}

.mz {
    font-family: 'Noto Serif KR', serif;
}

.mze {
    font-family: 'Nanum Myeongjo', serif;
}

body {
    font-size: inherit;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.bg {
    background: #f9f9f9;
}

.sec {
    padding: 100px 0;
}

.text {
    text-align: center;
}

.text h2 {
    font-size: 47px;
    font-weight: 500;
    margin: 0 0 20px 0;
}


.text p {
    font-size: 17px;
    margin: 0 0 40px 0;
    line-height: 1.4;
    color: #707070;
}

button {
    cursor: pointer;
}

.btn_o {
    background: transparent;
    border: none;
    outline: none;
}

.more {
    position: relative;
    display: inline-block;
    font-size: 13px;
    color: #999;
    transition: 0.5s;
}

/* .more:hover {
    transform: translate(10px, 0);
} */

.more::before {
    content: '';
    margin-right: 12px;
    vertical-align: middle;
    display: inline-block;
    width: 25px;
    height: 3px;
    background-color: var(--mc);
}


/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 80px;
    color: #fff;
    z-index: 9999;
}

.header_wrap::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(250, 250, 250, 0.1);
}

.header_inner {
    display: flex;
    justify-content: space-between;
    width: 1700px;
    margin: 0 auto;
}

.header .gnb>ul {
    display: flex;
}

.header .gnb ul>li>a {
    display: block;
    padding: 0 10px;
    text-align: center;
}

.header .gnb ul>li {
    position: relative;
    width: 140px;
}

.header .gnb .smenu {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);

    padding: 0;

    background: var(--mc);
    width: 140px;
    line-height: 45px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;

    opacity: 0;
    visibility: hidden;
}

.header .gnb>ul>li:hover .smenu {
    opacity: 1;
    visibility: visible;
}

.header .gnb>ul>li:hover {
    background: var(--mc);
}

.header .gnb .smenu>li>a {
    padding: 0 15px;
}

.header_wrap.on {
    line-height: 80px;
    background: rgba(101, 101, 101, 0.65);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.header .menu_bar {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.header .menu_bar .lang {
    font-size: 13px;
}

.header .bars::after {
    content: "\e91c";
    font-family: xeicon;
    z-index: 1001;
    font-size: 17px;
    cursor: pointer;
}

.header .bars.on::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-100%, 0);
    margin: 0 0 0 850px;
    content: "\e921";
    color: #333;
}

.header .sitemap {
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #333;
}

.header .sitemap.on {
    width: 100%;
    height: 100vh;
    background: url(../img/sitemap.png) no-repeat right 50px bottom 50px #f9f9f9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
}

.header .sitemap .sitemap_list {
    display: flex;
    gap: 80px;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.header .sitemap .sitemap_list>li {
    position: relative;
    line-height: 1;
    width: 200px;
}

.header .sitemap .sitemap_list>li:not(:last-of-type)::before {
    position: absolute;
    top: -8%;
    right: -15%;
    content: "";
    width: 1px;
    height: 100%;
    background: #ddd;
    margin: 30px 0 0 0;
    opacity: 0.9;
}

.header .sitemap .sitemap_list>li>a {
    display: block;
    font-weight: 700;
    font-size: 25px;
    margin: 0 0 50px 0;
}

.header .sitemap .sitemap_list>li>a::after {
    display: block;
    content: "";
    width: 25px;
    height: 2px;
    background: var(--mc);
    margin: 30px 0 0 0;
}

.header .sitemap .sitemap_list .smenu>li {
    line-height: 40px;
    font-size: 17px;
    font-weight: 300;
}

.header .sitemap .sitemap_list .smenu>li>a {
    padding: 5px 20px 5px 0;
}

.header .sitemap .sitemap_list .smenu>li>a:hover {
    text-decoration: underline;
}

body.on {
    overflow: hidden;
}

/* mainVisual */
.mainVisual {
    position: relative;
}

.mainVisual .main_slide figure {
    position: relative;
    height: 100vh;

    background-position: center center;
    background-repeat: no-repeat;

    background-size: 150% auto;
    transition: 2s;
}

.mainVisual .main_slide figure.on {
    background-size: 130% auto;
}

.mainVisual .slide_itm01 {
    background: url(../img/slide01.jpg);
}

.mainVisual .slide_itm02 {
    background: url(../img/slide02.jpg);
}

.mainVisual .slide_itm03 {
    background: url(../img/slide03.jpg);
}

.mainVisual .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    text-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    text-indent: -4px;
}

.mainVisual .inner h2 {
    font-size: 71px;
    margin: 0 0 20px 0;
}

.mainVisual .inner p {
    font-size: 25px;
    font-weight: 300;
}

.mainVisual .main_slide_dots {
    position: absolute;
    bottom: 350px;
    left: 50%;
    transform: translate(0, 100%);
    margin: 0 0 0 -600px;
    display: flex;
    gap: 10px;
}

.mainVisual .main_slide_dots li button {
    background: rgb(255, 255, 255, 0.5);
    padding: 6px;
}

.mainVisual .main_slide_dots li.on button {
    background: var(--mc);
}

.mainVisual .arrows i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 30px;
    padding: 20px;
    border: 1px solid rgba(250, 250, 250, 0.1);
    color: #fff;
    cursor: pointer;
}

.mainVisual .arrows i:nth-child(1) {
    margin: 0 0 0 -813px;
}

.mainVisual .arrows i:nth-child(2) {
    margin: 0 0 0 813px;
}

.mainVisual .main_slide_num {
    position: absolute;
    top: 50%;
    left: 50%;

    margin: 0 0 0 600px;
    transform: translate(-100%, -50%);

    color: #fff;
    text-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
}

.mainVisual .main_slide_num span {
    font-size: 35px;
    font-weight: 500;
}

.mainVisual .main_slide_num strong {
    font-size: 25px;
    font-weight: 300;
}

.mainVisual .scroll {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    opacity: 0.9;
}

.mainVisual .scroll i {
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    font-size: 15px;
    animation: motion 0.5s
        /* 속도 */
        linear 0s
        /* 처음부터 끝까지 일정 속도로 진행 */
        infinite alternate;
    /* 무한 반복 */
}

@keyframes motion {
    0% {
        margin-bottom: 0px;
    }

    /* 처음 위치 */


    100% {
        margin-bottom: 5px;
    }

    /* 마지막 위치 */
}



/* mainBrand */

.mainBrand .inner {
    display: flex;
}

.mainBrand .inner>* {
    flex: 1;
}

.mainBrand .br_left {
    padding: 30px 50px 30px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.mainBrand .tit strong {
    display: block;
    font-size: 47px;
    font-weight: 500;
    margin: 0 0 30px 0;
}

.mainBrand .tit span {
    display: block;
    font-size: 17px;
    margin: 0 0 30px 0;
    line-height: 1.45;
    color: #707070;
    word-break: keep-all;
}




/* mainProducts */
.mainProducts {
    position: relative;
    padding: 100px 0 150px 0;
}

.mainProducts .product_slide figure {
    filter: grayscale(1) brightness(1);
}

.mainProducts .product_slide figure.slick-center {
    filter: grayscale(0);
}

.mainProducts .product_slide figure img {
    margin: 0 auto;
}

.mainProducts .content {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(150%, 0);
    margin: 0 0 0 -600px;
    width: 400px;
    background: #fff;
    border: 1px solid #eee;
    margin: 0 0 0 -500px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.mainProducts .port {
    display: none;
    padding: 50px 40px 50px 40px;
    text-align: left;
}

.mainProducts .port.on {
    display: block;
}

.mainProducts .tit_e {
    font-size: 14px;
    font-weight: 300;
    color: var(--mc);
    margin: 0 0 10px 0;
    text-indent: 4px;
}

.mainProducts .tit {
    font-size: 31px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.mainProducts .desc {
    line-height: 1.4;
    word-break: keep-all;
    margin: 0 0 30px 0;
    min-height: 50px;
    font-weight: 300;
}

.mainProducts .pro_list {
    position: relative;
}

.mainProducts .arrows i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
    padding: 15px 30px;

    color: #fff;
    background: rgb(0, 0, 0, 0.5);
    transition: 0.5s;
}

.mainProducts .arrows i:hover {
    background: var(--mc);
}

.mainProducts .arrows i:nth-child(1) {
    margin: 0 0 0 -620px;
}

.mainProducts .arrows i:nth-child(2) {
    margin: 0 0 0 620px;
}

/* mainNews */
.mainNews {
    position: relative;
}

.mainNews .more {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-100%, 0);
    margin: 0 0 0 600px;
    transition: 0.5s;
}

.mainNews .news_box {

    display: flex;
    gap: 30px;
}

.mainNews .news_box>* {
    flex: 1;
}

.mainNews .news_itm a {
    display: block;
    background: #f9f9f9;
    border: 1px solid #f9f9f9;
    padding: 50px;
    transition: 0.5s;
}

.mainNews .news_itm a:hover {
    border: 1px solid var(--mc);
}

.mainNews .news_itm strong {
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: var(--mc);
}

.mainNews .news_itm span {
    display: block;
    font-weight: 500;
    margin: 0 0 20px 0;
    min-height: 45px;
    line-height: 1.4;
    word-break: keep-all;
}

.mainNews .news_itm p {
    line-height: 1.4;
    max-height: 70px;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    margin: 0 0 40px 0;
    color: #777;
    font-weight: 300;
}

.mainNews .news_itm em {
    font-size: 13px;
    color: var(--mc);
}



/* mainRecruit */
.mainRecruit {
    background: url(../img/recruit.jpg)no-repeat center center/cover;
}

.mainRecruit .text h2 {
    color: #fff;
}

.mainRecruit .text p {
    color: #fff;
    margin: 0 0 60px 0;
}

.mainRecruit .re_tit {
    display: flex;
    gap: 100px;
}

.mainRecruit .re_tit a {
    width: 225px;
    height: 225px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
}

.mainRecruit .tit {
    padding: 69px;
    border-radius: 50%;
}

.mainRecruit .tit i {
    display: block;
    font-size: 47px;
    margin: 0 0 20px 0;
    color: var(--mc);
}

.mainRecruit .tit p {
    font-size: 19px;
    font-weight: 500;
}





/* footer */

.footer {
    padding: 30px 0;
    text-align: center;
    background: #ddd;
}

.footer_inner {
    width: 850px;
    margin: 0 auto;
}

.footer .top {
    border-bottom: 1px solid #bbb;
}

.footer .top img {
    margin: 0 0 20px 0;
}

.footer .top p {
    font-size: 14px;
    margin: 0 0 30px 0;
    line-height: 1.4;
    word-break: keep-all;
}

.footer .bottom {
    margin: 30px auto 0 auto;
}

.footer .bottom ul {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin: 0 0 15px 0;
}

.footer .bottom p {
    font-size: 13px;
}

.footer li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.footer li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #888;
    margin: 0 10px 0 0;
}






/* to top */
.to_top {
    position: fixed;
    bottom: 0;
    right: 100px;
    z-index: 1001;
}

.to_top .top {
    padding: 20px;
    font-size: 21px;
    background: linear-gradient(-60deg, #d63384, var(--mc));
    /* border-radius: 50%; */
    color: #fff;

    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    text-align: center;
}

.to_top .top i {
    margin: 0 0 10px 0;
}

.to_top .top p {
    font-size: 14px;
    letter-spacing: 0.1em;
    text-indent: 5px;
}

.to_top.on .top {
    opacity: 1;
    visibility: visible;
}

.to_top p {}


@media (max-width:768px) {
    .to_top {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1001;
    }

}


/* .mopen {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 1000;
    border: none;
    background: transparent;
    display: none;
}

.mopen i {
    background: #f7f7f7;
    padding: 8px;
    font-size: 30px;
}


@media (max-width:768px) {
    .mopen {
        position: fixed;
        top: 60px;
        right: 15px;
        z-index: 1002;
        border: none;
        background: transparent;
        display: block;
    }

    .mopen i {
        background: #f7f7f7;
        padding: 8px;
        font-size: 30px;
    }
} */