#subPage {

}

#subPage .subBanner {
    height: 400px;
    background: url(../img/bg_subheader_01.jpg)no-repeat center center/cover;
}

#subPage .subBanner .inner {
    color: #fff;
    padding: 160px 0;
}

#subPage .subBanner .inner .text p {
    color: #fff;
}

#subPage .sub_menubar {
    display: flex;
    line-height: 50px;
    background: var(--mc);
}

#subPage .sub_menubar .home i {
    font-size: 21px;
}



#subPage .sub_gnb {
    position: relative;
}

#subPage .sub_gnb .btn {
    line-height: 40px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 0 30px;
}

#subPage .sub_gnb .btn i {
    margin: 0 0 0 15px;
    color: tomato;
}

#subPage .sub_gnb .btn.on i {
    transform: rotate(180deg);
}

#subPage .sub_gnb ul {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;

    display: none;
    height: 150px;
    overflow-y: auto;
}

#subPage .sub_gnb ul a {
    display: block;
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
}